*{ 
  box-sizing: border-box;
  font-family:'Ysabeau', sans-serif;
  font-weight: bold;
  font-style: italic;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: rgba(241, 243, 238, 0.92);
}
/*con mobil first a partir de 360 el formato*/
 /*de home */
.flexHome{
  display: flex;
  /*grid-template-rows: 20% 20% 20% 20% 20%;*/
  /*grid-row-start: center;¨*/
  flex-direction: column;
  align-items: center;
  Font-family: Inter; 
  margin: 30px 30px 10px 32px;
  font-size: 20px;
}

h1Home{
  padding: 20px;
  /*margin: 20px 0px 20px 0px ;*/
}

.email{
  background-color: rgb(252, 249, 249);
  margin: 35px 65px 10px 65px;
  padding:  1em;
  width: 192px;
  height: 28px;
  border: 3px solid rgba(28, 27, 27, 0.397);
  font-size: 17px;
}

.password{
  background-color: rgb(252, 249, 249);
  margin: 20px 65px 15px 65px;
  padding:  1em;
  width: 192px;
  height: 28px;
  border: 3px solid rgba(28, 27, 27, 0.397);
  font-size: 17px;
}

.btnSignIn{
  background-color: rgba(86, 224, 51, 0.374);
  text-align: center;
  margin: 15px 57px 28px 57px;
  padding:  1px 0px 1px 0px;
  width: 190px;
  height: 40px;
  border: 2px solid rgba(28, 27, 27, 0.397);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  font-size: 17px;
}

.btnGoogle{
  background-color:white;
  margin: 28px 45px 28px 45px;
  padding:  1px 0px 1px 0px;
  width: 220px;
  height: 50px;
  border: 3px solid rgba(28, 27, 27, 0.422);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  font-size: 17px;
  /*cursor: pointer*/
}

.btnRegister {
  background-color:rgba(86, 224, 51, 0.374);
  margin: 28px 55px 28px 55px;
  padding:  1px 0px 1px 0px;
  width: 190px;
  height: 40px;
  border-radius: 2px;
  font-size: 17px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(28, 27, 27, 0.422);
}

/*de wall*/
.flexWall{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.h1Wall{
  margin:25px 210px 5px 0px;
}

.h2Wall{
  margin:5px 0px 5px 15px;
}              

.crearPost{
  width: 320px;
  height: 150px;
  padding: 10px 6px 10px 6px;
  margin:50px 30px 28px 30px;
  text-align:left;
  font-size: 15px;
  background-color: rgb(252, 249, 249);
  border: 3px solid rgba(28, 27, 27, 0.397);
}

.btnEnviar{
  text-align: center;
  border-radius: 4px;
  background-color: rgba(86, 224, 51, 0.374);
  width: 75px;
  height: 30px;
  margin:5px 10px 5px 245px;
  font-size: 17px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.4);
  border: 3px solid rgba(28, 27, 27, 0.397);
}
   
.btnBorrar{
  text-align: center;
  border-radius: 4px;
  background-color: rgba(86, 224, 51, 0.374);
  width: 90px;
  height: 40px;
  margin:5px 10px 5px 245px;
  font-size: 16px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.4);
  border: 3px solid rgba(28, 27, 27, 0.397);
}

/*registro */
.flexRegister{
  display: flex;
  flex-direction: column;
  align-items: center;
  Font-family: Inter; 
  margin: 30px 30px 10px 32px;
  font-size: 20px;
}

.buttonHome{
  background-color: rgba(86, 224, 51, 0.374);
  text-align: center;
  margin: 15px 15px 40px 230px;
  padding: 1px 0px 1px 0px;
  width: 105px;
  height: 40px;
  border: 2px solid rgba(28, 27, 27, 0.397);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  font-size: 15px;
}                

.inputEmail{
  background-color: rgb(252, 249, 249);
  margin: 35px 65px 15px 65px;
  padding:  1em;
  width: 192px;
  height: 28px;
  border: 3px solid rgba(28, 27, 27, 0.397);
  font-size: 17px;
}
   
.inputPassword{
  background-color: rgb(252, 249, 249);
  margin: 20px 65px 25px 65px;
  padding:  1em;
  width: 192px;
  height: 28px;
  border: 3px solid rgba(28, 27, 27, 0.397);
  font-size: 17px;
} 
   
.buttonRegister{
  background-color: rgba(86, 224, 51, 0.374);
  text-align: center;
  margin: 15px 57px 28px 57px;
  padding:  1px 0px 1px 0px;
  width: 190px;
  height: 40px;
  border: 2px solid rgba(28, 27, 27, 0.397);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  font-size: 17px;
} 
   
/*responsivo*/
 /* queri 768, 576, 860?, 360a 740, 992, 640 elegir 4 a 5 tamaños*/
@media only screen and (min-width: 480px){
  .flexWall{
    font-size: 100%;
  }
  .flexRegister{
    font-size: 100%;
  }
  .buttonHome{
   margin: 30px 15px 40px 260px;
  }
}

@media only screen and (min-width: 768px){
 
  .crearPost{
    width: 360px;
  }
  .btnEnviar{
    margin: 5px -30px 5px 248px;  
  }
  .buttonHome{
    margin: 40px -130px 50px 360px;
  }
}

@media only screen and (min-width: 1024px){
  .buttonHome{
    margin: 50px -230px 50px 460px;
    /*agregar ancho de 110px y largo de 45px*/
  }
}
